<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="version" value="v0.5-Beta"/>
		<add key="loadedDataFileName" value="Data.json"/>
		<add key="metaInfoFileName" value="Meta.json"/>
		<add key="settingsFileName" value="Gamesettings.json"/>
		<add key="url" value="https://raw.githubusercontent.com/Harrix/Russian-Nouns/main/src/data.json"/>
		<add key="userDataDirectoryName" value="Gamedata"/>
		<add key="saveDataDirectoryName" value="Savedata"/>
		<add key="brushesNamesFileName" value="Brushes"/>
	</appSettings>
</configuration>