<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="version" value="v0.0.0-Development"/>
		<add key="loadedDataFileName" value="Data.json"/>
		<add key="metaInfoFileName" value="Meta.json"/>
		<add key="settingsFileName" value="GameSettings.json"/>
		<add key="url" value="https://raw.githubusercontent.com/Harrix/Russian-Nouns/main/src/data.json"/>
		<add key="userDataDirectoryName" value="Userdata"/>
		<add key="saveDataDirectoryName" value="Savedata"/>
	</appSettings>
</configuration>